{declare_assets directory="assets"}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Les Jardins d'écoute s'il pleut</title>
     {block name="before-bootstrap-css"}{/block}
      
    {stylesheets source="Catalogue" file="assets/css/catalogue.css"}
        <link href="{$asset_url}" rel="stylesheet" type="text/css" />
    {/stylesheets}
    {block name="after-bootstrap-css"}{/block}
   
    
</head>
<body>
    <div>
        <div>
            <div class="titre-bandeau">Le Jardins d'écoute s'il pleut</div>
            <div class="sous-titre-bandeau">Production de fougères rustiques</div>
            <div class="titre-catalogue">Catalogue public 2018</div>
            <div class="div-image-catalogue">
                {images source="Catalogue" file='assets/img/catalogue.jpg'}
                    <img rel="fougeres"  src="{$asset_url}">
                {/images}
            </div>
        </div>
        <div style="color:green;padding:1em">
            Certaines fougères, rares ou de culture délicate et longue, sont produites en nombre restreint. Les fougères en culture,
sont mise en vente que lorsque nous estimons que leur enracinement permet une transplantation dans un jardin. Sous
réserve d'aucun incident de culture, elle sont considérés comme disponibles.<p/>
        </div>
        <div style="color:green; font-weight:bold ; font-style:italic;padding:0.3em">
            Les indications portées à notre catalogue ont une valeur purement indicative, ce ne sont pas des offres
contractuelles.
Les prix indiqués sont publics, nets de toutes taxes et hors frais de livraison
        <p/>
            Collectivités, entreprises du paysage, propriétaires de parcs et jardins ouverts au public, nous proposons des
conditions tarifaires spécifiques suivant les quantités.
      </div>
    <div style="text-align:center;font-size:30px;padding:0.1em">
        Responsable pépinière
    </div>
    <div style="text-align:center;font-size:35px;color:green;padding:0.1em">
Anne Marie Gaillard
</div>
<div style="text-align:center;font-size:20px;padding:0.1em;">
    <a href="mailto://annemarie@ecoutesilpleut.pro">annemarie@ecoutesilpleut.pro</a>
</div>
<div>

</div>
<div style="text-align:center;font-size:20px;padding:0.1em">
Tél 09 61 34 66 93
<br/>
Tél 06 49 77 60 71
</div>
<div style="text-align:center;font-size:20px;padding:0.1em;font-style:bold">
<a href="http://les-jardins-decoute-sil-pleut.com">les-jardins-decoute-sil-pleut.com</a>
</div>
<div style="text-align:center;font-size:20px;padding:0.1em">50 rue de la Braud 85200 Saint Michel le Cloucq</div>
<div style="text-align:center;font-size:20px;color:green;padding:0.1em">
Siret 328 027 156 00020
</div>
<div style="position: relative;width: 100px;top: -160px;left: 590px;">
    {images source="Catalogue" file='assets/img/aspeco.png'}
        <img style="width:100px" rel="aspeco"  src="{$asset_url}">
    {/images}
  </div>
 <br pagebreak="true"/>
<div style="text-align: center;
    color: green;
    font-size: 1.5em;">
    L'utilisation des fougères au jardin
</div>
<div>
    Qui n'a pas ressenti un bien-être, dans cet univers de fraicheur et de sous bois verts à travers les fougères? Bord de ruisseau en sous
bois, bordé de nos belles indigènes comme Athyrium filix-femina, et les tapis de polypodes sur les rochers et éboulis. Utiliser les fougères
dans les jardins ne s'avère pas être une aventure, il suffit de prendre soin de créer les conditions pour que cela soit possible.
Premier critère: l'ombre, ceci pour la plupart des fougères, même si certaines ont la capacité de bien tenir au soleil. Deuxième critère: la
qualité du sol, toutes les fougères aiment un sol souple, léger, avec de l'humus, neutre à acide, voire calcaire. Ce que recherchent les
fougères, c'est l'air qui se charge d'humidité par l'évaporation remontant de la biomasse du sol, toujours légèrement humide. Si le feuillage
des fougères est si léger et si découpé pour certaines espèces, c'est bien pour capter l'ambiance humide de l'air. Certaines supportent
d'avoir les pieds dans l'eau, ou un sol à humidité permanente mais aussi la tête au soleil, comme Thelipteris palustris ou Osmunda
regalis. D'autres se plairont particulièrement au dessus d'un bassin, d'une fontaine, dans des fissures de roche à l'ombre (adiantum
venustum, Asplenium trichomanes). Il n'est pas rare de voir des proliférations de Ceterach officinarum, dans les joints d'un vieux mur sec
calcaire en plein soleil. Comme beaucoup de plantes leurs capacités d'adaptation sont toujours étonnantes.
Les fougères sont des plantes à forte présence dans les jardins, que se soit en sous bois, en bordure, à l'ombre, bord d'étang, bassin,
éboulis... .Leur longévité en font des plantes d'excellence pour le jardinier ou la jardinière.
Pour ceux qui ont un amour sans limite des fougères, elles trouveront alors toute leur place, dans les pièces de vie, jardins d'hiver , salle
d'eau, salon, cuisine.
</div>
<div style="text-align: center;
    color: green;
    font-size: 1.5em;">
    Conseils plantation et entretien des fougères
</div>
<div>
<br/><b>Plantation</b><br/>
Toujours arroser les plantes lors du déballage du colis ainsi qu'au moment la plantation. Ne jamais défaire les mottes des fougères,
leurs racines forment un amas dense, elles sont très fines et fragiles. Défaire leur motte c'est retarder de plusieurs mois leur reprise.
Faire un trou du triple du volume du pot et mettre un mélange très souple, composé d'un petit peu de terreau bien mur ou de tourbe
blonde avec de la terre de jardin. Il faut toujours éviter d'enfoncer la motte, planter au niveau du collet, puis arroser.
Pour les fougères en pot, que vous souhaitez garder en intérieur penser à changer la taille du pot régulièrement, en complétant par un
simple terreau à base de tourbe blonde. Arroser régulièrement, mais sans excès, douchez les de temps en temps, égouttez les et
remettez les en place.
<br/><B>Entretien</B><br/>
L'entretien des plantations de fougères est assez simple, si l'on a posé un bon paillage, celui ci contribuera à limiter la présence des
plantes concurrentes, et maintiendra l'humidité. Le geste du jardinier sera de veiller à maintenir propres les plantations, en enlevant les
mauvaises herbes ou autres végétaux qui risqueraient de l'étouffer et par le maintien d'un léger paillage. ( le meilleur paillage étant le
broyat de frondes sèches de fougère-aigle (Pteridium aquilinum ) , ou des feuilles mortes.
Durant les périodes chaudes et sèches, on veillera au maintien de l'humidité par des arrosages, surtout la premier été qui suit la
plantation.
<BR/><B>Préparer la période d'hiver</B><BR/>
Il sera bon de protéger les fougères les moins résistantes au grand froid, Woodwardia, Blechnum chilense.. suivant votre climat et le
milieu d'implantation. Cette protection consistera à couvrir complètement de frondes sèches les fougères, de manière à former un
matelas confortable, mais aéré. Vous pouvez sinon mettre un voile de protection sur les frondes. A la sortie de l'hiver, quand les gelées
ne sont plus à craindre il vous suffira d'enlever cette protection en la mettant en paillis sur le sol.
<BR/><B>Nettoyage de printemps</B><BR/>
Pour toutes les fougères, ne pas se précipiter au printemps pour l’enlèvement des vielles frondes fanées et sèches, celles ci apportent
une protection contre les gelées tardives. Avant d'intervenir vérifier le début du déploiement des nouvelles frondes sur toutes les
fougères, caduques ou persistantes Sur les fougères aux frondes persistantes gardez impérativement au moins un bon tiers du feuillage
de l'an passé.Pour faire cette opération de nettoyage munissez vous de ciseaux ou sécateur et laissez les frondes coupées, à plat
autour des pieds, de préférence.
<BR/><B>Amendement</B><BR/>
Les fougères sont des plantes frugales, la décomposition naturelle du paillage leur suffit amplement comme amendement. N'apportez
jamais de fumier, et d'azote. Mettez éventuellement une poignée de compost bien mur autour du pied sous le paillage.
</div>

<div style="text-align:center;font-size:1.5em;color:green;padding:30px 0 5px 0"> Tarif public </div>
<div style="text-align:center;font-weight:600;padding:15px">
    Celui ci est déterminé par 3 critères la rareté, la difficulté de multiplication, et le temps de culture
</div>
<table  style="margin:auto">
 
 <thead>
     <tr style="background-color:lightgrey;color:green;">
        <th class="titre-colonne">
            Code Tarif
        </th>
        <th class="titre-colonne">
            Godet 8/9cm
        </th>
        <th class="titre-colonne">
            Pot 1 - 1,5 litres
        </th>
        <th class="titre-colonne">
            Pot 2 litres
        </th>
        <th class="titre-colonne">
            Pot 3 litres
        </th>
        <th class="titre-colonne">
            Pot 4 litres
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td style="text-align:center;background-color:lightgrey;color:green;border-style:solid;border-color:black;border-width:1px">A</td>
        {loop name="price.main" type="price" limit="5" tarif="1"}
            <td style="text-align:center;border-style:solid;border-color:black;border-width:1px">
                {$VALUE} &euro;
            </td>
         {/loop}
    </tr>
    <tr>
        <td style="text-align:center;background-color:lightgrey;color:green;border-style:solid;border-color:black;border-width:1px">B</td>
        {loop name="price.main" type="price" limit="5"  tarif="2"}
            <td style="text-align:center;border-style:solid;border-color:black;border-width:1px">
                {$VALUE} &euro;
            </td>  
        {/loop}
    </tr>
    <tr>
        <td style="text-align:center;background-color:lightgrey;color:green;border-style:solid;border-color:black;border-width:1px">C</td>
        {loop name="price.main" type="price" limit="5"  tarif="3"}
         <td style="text-align:center;border-style:solid;border-color:black;border-width:1px">
            {$VALUE} &euro;
        </td>  
        {/loop}
    </tr>
    <tr>
        <td style="text-align:center;background-color:lightgrey;color:green;border-style:solid;border-color:black;border-width:1px">D</td>
        {loop name="price.main" type="price" limit="5"  tarif="4"}
             <td style="text-align:center;border-style:solid;border-color:black;border-width:1px">
                {$VALUE} &euro;
            </td>  
        {/loop}
    </tr>
    <tr>
        <td colspan="6" style="text-align:center;border-style:solid;border-color:black;border-width:1px;background-color:orange">Au delà de 4 litres, tarifs sur demande</td>
        <td></td>
        <td></td>
    </tr>
</tbody>
</table>

    <div class="entete-haut">
        <div class="societe">
        Les Jardins d'écoute s'il pleut
        </div>
        <span class="intitule">
          Catalogue fougères 2017
        </span>
    </div>
    <div class="entete-bas">
        <div class="adresse">La Braud 85200 Saint Michel le Cloucq Tél / 09 61 34 66 93 </div>
        <div class="siret">siret 328 027 156 00020 APE 011D</div>
    </div>
        {loop name="catalog.pdf" type="catalogue"}
        <hr/>
        <div class="div-section" style="height:170px">
        <div class="titre_section">
            <div class="nom">{$TITLE}</div>
            <div class="famille">{$FAMILY}</div>
        </div>
        <div class="div-image">
         {loop type="image" name="image.main" product=$ID  height="200" resize_mode="borders" limit="1"}
            <img src="{$IMAGE_URL nofilter}" alt="{$TITLE}" class="img-responsive img-fougere" itemprop="image" data-toggle="magnify">
        {/loop}
        </div>
        <div class="content-section">
            <div class="postcriptum">
            {if $HAS_ORIGIN}
            <span class="titre-postscriptum">Origine: </span><span>{$POSTSCRIPTUM}</span>
            {/if}
            <div class="description">{$DESCRIPTION}</div>
            </div>
            <div class="code-tarif">
                {loop type="product_sale_elements" name="sale_catalogue" product="$ID" limit="1"}
                {loop type="attribute_combination" name="attribute_catalogue" product_sale_elements="$ID" }
                {$ATTRIBUTE_TITLE}
                {/loop}
                {/loop}

            </div>
        </div>
        </div>
        {/loop}

        <!--http://localhost/thelia_2.3.3/web/cache/images/carousel/ae57703ce278cf5b44c4e7d52a8f22b0-spiced-3-9-1.jpg -->

    </div>
</body>
</html>
